@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.collapsible-heading{
    margin: 0px;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
}
.collapsible {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .collapsible-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .collapsible-item-title {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .collapsible-item-title::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .collapsible-item-title::after {
    content: "\2212";
  }
  .collapsible-item-detail {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .collapsible-item-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }